.contact-con{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 80px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    gap: 30px;
}
.contact div{
    width: 100%;
    font-size: 16px;
}
.contact h1{
    font-size: 40px;
}
.contact form{
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 20px;
}
.contact form input{
    width: 100%;
    height: 30px;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f4f4f4;
}
.contact form textarea{
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f4f4f4;
}
.contact hr{
    border: 1px solid lightgray;
}
.contact li{
    list-style: none;
}
.contact label{
    display: flex;
    align-items: center;
    gap: 5px;
}
.contact  span{
    background-color: #0c0c0c;
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials{
    display: flex;
    gap: 10px;
    align-items: center;
}
.socials span{
    cursor: pointer;
}
.socials span:hover{
    color: #64ccc5;
    transform: scale(px);
}
.map-con{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.map{
    width: 90%;
    max-width: 1200px;
    height: 300px;
    border-radius: 15px;
}
@media (min-width:780px) {
    .contact{
        flex-direction: row;
    }
    .contact div{
        width: 45%;
    }
    .contact form{
        width: 45%;
    }
}